<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Label</key>
	<string>com.apple.SafariBookmarksSyncAgent</string>
	<key>Program</key>
	<string>/Library/Apple/System/Library/CoreServices/SafariSupport.bundle/Contents/MacOS/SafariBookmarksSyncAgent</string>
	<key>MachServices</key>
	<dict>
		<key>com.apple.SafariBookmarksSyncAgent</key>
		<true/>
		<key>com.apple.SafariBookmarksSyncAgent.Push</key>
		<true/>
	</dict>
	<key>EnablePressuredExit</key>
	<true/>
	<key>ProcessType</key>
	<string>Standard</string>
	<key>LaunchEvents</key>
	<dict>
		<key>com.apple.xpc.activity</key>
		<dict>
			<key>com.apple.SafariBookmarksSyncAgent.XPC.ZoneSubscriptionRegistration</key>
			<dict>
				<key>AllowBattery</key>
				<true/>
				<key>Priority</key>
				<string>Maintenance</string>
				<key>Repeating</key>
				<false/>
				<key>RequireNetworkConnectivity</key>
				<true/>
				<key>NetworkTransferDirection</key>
				<string>Bidirectional</string>
				<key>Interval</key>
				<integer>10</integer>
				<key>Delay</key>
				<integer>0</integer>
				<key>GracePeriod</key>
				<integer>1</integer>
			</dict>
		</dict>
	</dict>
</dict>
</plist>
